
<div class="columns container">
  <div class="column is-one-fifth"></div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><strong></strong>{{ abstract.title }}</p>
            <p class="subtitle is-6">{{ abstract.authors }}</p>
          </div>
        </div>
        <div class="content">
          <p><strong>Short Abstract: </strong>{{ abstract.abstract }}</p>
          <p class="subtitle is-5"><strong>Key Words: </strong>{{ abstract.keywords }}</p>
          {% if abstract.poster %}
          {% if abstract.poster_link %}
            <a href="{{ abstract.poster_link }}" class="tag" target="_blank">Poster</a>
          {% else %}
            <a class="tag">Poster</a>
          {% endif %}
          {% endif %}
        
          {% if abstract.talk %}
          {% if abstract.talk_link %}
            <a href="{{ abstract.talk_link }}" class="tag" target="_blank">Talk</a>
          {% else %}
            <a class="tag">Talk</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
	  </div>
  </div>
  <div class="column is-one-fifth"></div>
</div>
