<div class="columns container">
  <div class="column is-one-half"></div>
  <div class="column">
    <a href="https://www.eventbrite.ca/e/harms-and-risks-of-ai-in-the-military-workshop-tickets-1063566438849?aff=oddtdtcreator">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Register by Nov. 25!
      </button>
    </a>
  </div>
  <!-- <div class="column">   Previously Abstract Submission
    <a href="https://openreview.net/group?id=harms-risks-ai-military.org/HRAIM/2024/Workshop">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Abstract submission
      </button>
    </a>
  </div> -->
  <div class="column">
    <a href="accepted-abstracts.html">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Accepted Abstracts
      </button>
    </a>
  </div>
  <div class="column is-one-half"></div>
</div>
