<div class="columns container">
  <div class="column is-one-half"></div>
  <div class="column">
    <a href="https://www.youtube.com/playlist?list=PLXJ0UJfeO6DP20gVqpRho_qooTkxnTIP-">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Watch 1st Day Recordings!
      </button>
    </a>
  </div>
  <div class="column">
    <a href="https://www.youtube.com/playlist?list=PLXJ0UJfeO6DME5iPXWirP-Z8f7jLjfM25">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Watch 2nd Day Recordings!
      </button>
    </a>
  </div>
  <!-- <div class="column">   Previously Abstract Submission
    <a href="https://openreview.net/group?id=harms-risks-ai-military.org/HRAIM/2024/Workshop">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Abstract submission
      </button>
    </a>
  </div> -->
  <div class="column">
    <a href="accepted-abstracts.html">
      <button class="button is-responsive is-link is-large is-rounded is-fullwidth" style="background-color: #ff933b;">
        Accepted Abstracts
      </button>
    </a>
  </div>
  <div class="column is-one-half"></div>
</div>
